body{
    margin: 0;
    padding: 0;
    background-image: url('https://thumbs.dreamstime.com/b/lets-rock-background-guitar-vector-illustration-32081322.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#color-overlay{
    margin: 0;
    padding: 0;
    opacity: 0.8;
    text-align: center;
    color: crimson;
}

#text-bg{
    line-height: 100vh;
    font-size: 80px;
    margin: 0;
}